body {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
  }
  .left {
    flex: 2;
    background-color: #1d1d1c;;
  }
  .right {
    flex: 1;
    background-color: #1d1d1c;;
    height: 100vh;
  }
  .subheading
  {
    font-size: 20px;
  }
  .center {
    display: flex;
    justify-content: center;
     align-items: center;
     margin-top: -100px;
     height: 100vh;

  }
  .left-align {
    position: relative;
    left: 50px;
    font-size: 50px;
    margin-right: 50px;
    padding-bottom: 60px;
  }
  .subheading
  {
    font-size: 20px;
    margin-left: -205px;
  }
 
  .content {
    margin-top: 200px; 
  }
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 66.8%;
    background-color: #1d1d1c;;
    color: #fff;
    text-align: center;
    padding: 10px;
}
.explore-button {
    background-color: black;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    margin-left: -205px;
  }
  
  .explore-button i {
    margin-left: 5px;
  }

  .navbar {
    background-color: #1d1d1c;;
  }

  .orange-btn {
    color: #D4D4D4;
    background-color: #A65A28;
  }

 

  
  